.example-card {
  max-width: 400px;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;
}

.full-width {
  width: 100%;
}

.pagination {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
